h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}

.fork{
  position: absolute;
  top: 0;
  left: 0;
  border: 0;

  @media screen and (max-width: 768px){
    display: none;
  }
}

#lfs-calendar{
  margin-left: auto;
  margin-right: auto;
}
