#lfs-calendar{
  width: 100%;
  max-width: 600px;
  height: 300px;
  border: 1px solid #E6E6E6;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 934px){
    width: 100%;
  }

  #calendar-header{
    border: 1px solid #E6E6E6;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    text-align: center;

    .prev{
      position: absolute;
      left:10px;
    }

    .next{
      position: absolute;
      right:10px;
    }
  }

  #calendar-body{
    width: 100%;

    .weekdays{
      display: table;
      table-layout: fixed;
      width: 100%;
      margin-top: 1em;

      .weekday{
        width: 14.28% !important;
        font-weight: bold;
        display: table-cell;
        box-sizing: border-box;
        position: relative;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .days{
      margin-top: 1em;

      .day{
        display: inline-block;
        padding:0;
        width: 14.28% !important;
        text-align: center;
        margin-bottom: 10px;
        color:#777;
        font-size: 20px;
      }

      .last-month{
        color:#DDD;
      }
    }
  }
}
