#lfs-calendar{
  width: 70vh;
  border: 1px solid #E6E6E6;
  margin-left: auto;
  margin-right: auto;

  #calendar-header{
    border: 1px solid #E6E6E6;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    text-align: center;

    .prev{
      position: absolute;
      left:10px;
    }

    .next{
      position: absolute;
      right:10px;
    }
  }

  #calendar-body{
    .days{
      list-style: none;
    }
  }
}
